<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/base}"
>
  <div layout:fragment="content">
    <div class="container mb-3">

      <a href="/peliculas/formulario">
        <button class="btn btn-info mb-3">Añadir película</button>
      </a>

      <table class="table table-striped">
        <thead class="table-dark text-center">
          <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Año</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="pelicula : ${peliculas}" class="text-center">
            <td th:text="${pelicula.Titulo}"></td>
            <td th:text="${pelicula.anno}"></td>
            <td>
              <a th:href="@{/peliculas/editar(id=${pelicula.id})}" >
              <button class="btn btn-info mr-3">Editar</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</html>
