<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/base}">
<div layout:fragment="content">
    <div class="container mb-3">
        <a href="/coach/form">
            <button class="btn btn-info mb-3">Añadir entrenador</button>
        </a>

        <div class="row d-flex mb-3">
            <div th:each="coach : ${coaches}" class="card me-3 coach" th:data-href="@{/coach/edit(id=${coach.id})}">
                <div class="card-body">
                    <p class="card-text" th:text="${coach.name}"></p>
                    <div class="list-group mt-2">
                        <div class="list-group-item d-flex justify-content-between align-items-center" th:each="team : ${coach.teams}">
                            <span th:text="${team.category}"></span>
                            <span th:text="${team.gender}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>