<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/base}">
<div layout:fragment="content">
    <div class="container">
        <h1>Formulario de jugador</h1>
        <form method="post" th:action="@{/player/create}" th:object="${player}" enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}" />

            <div class="mb-3" th:if="${isAdmin}">
                <label for="user" class="form-label">Usuario asignado</label>
                <select class="form-control" id="user" th:field="*{user}" required>
                    <option value="">Seleccione un usuario</option>
                    <option th:each="user : ${users}"
                            th:value="${user.id}"
                            th:text="${user.username}"></option>
                </select>
            </div>

            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Nombre del jugador" th:field="*{name}" />
            </div>

            <div class="mb-3">
                <label for="idCard" class="form-label">DNI/NIE</label>
                <input type="text" class="form-control" id="idCard" placeholder="DNI/NIE" th:field="*{idCard}" required />
            </div>
            <div class="mb-3">
                <label for="licenseNumber" class="form-label">Número de licencia</label>
                <input type="text" class="form-control" id="licenseNumber" placeholder="Número de licencia" th:field="*{licenseNumber}" />
            </div>
            <div class="mb-3">
                <label for="birthdate" class="form-label">Fecha de nacimiento</label>
                <input type="date" class="form-control" id="birthdate" th:field="*{birthdate}" required />
            </div>
            <div class="mb-3">
                <label for="placeOfBirth" class="form-label">Lugar de nacimiento</label>
                <input type="text" class="form-control" id="placeOfBirth" th:field="*{placeOfBirth}" required />
            </div>
            <div class="mb-3">
                <label for="sex" class="form-label">Sexo</label>
                <select class="form-control" id="sex" th:field="*{sex}" required>
                    <option th:each="gender : ${T(com.spring.club.entities.enums.Gender).values()}"
                            th:value="${gender}" th:text="${gender}"></option>
                </select>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" th:field="*{email}" required />
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Teléfono</label>
                <input type="tel" class="form-control" id="phone" th:field="*{phone}" required />
            </div>


            <div class="mb-3">
                <label for="street" class="form-label">Calle</label>
                <input type="text" class="form-control" id="street" th:field="*{street}" required />
            </div>
            <div class="mb-3">
                <label for="city" class="form-label">Ciudad</label>
                <input type="text" class="form-control" id="city" th:field="*{city}" />
            </div>
            <div class="mb-3">
                <label for="zip" class="form-label">Código postal</label>
                <input type="number" class="form-control" id="zip" th:field="*{zip}" required />
            </div>
            <div class="mb-3">
                <label for="country" class="form-label">País de residencia</label>
                <select class="form-control" id="country" th:field="*{country}" required>
                    <option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.name}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label for="nationality" class="form-label">Nacionalidad</label>
                <select class="form-control" id="nationality" th:field="*{nationality}">
                    <option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.name}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Categoría</label>
                <select class="form-control" id="category" disabled>
                    <option th:value="${player.category}" th:text="${player.category}" selected></option>
                </select>
                <input type="hidden" th:field="*{category}" />
            </div>
            <div class="mb-3">
                <label for="seasonSelect">Temporada</label>
                <select class="form-control" id="seasonSelect" disabled>
                    <option th:value="${currentSeason.id}"
                            th:text="${currentSeason.season}"
                            selected></option>
                </select>
                <input type="hidden" name="seasons" th:value="${currentSeason.id}" />
            </div>
            <div class="form-group mb-3">
                <label for="image">Imagen</label>
                <input type="file" class="form-control" id="image" name="image" accept="image/*" />
            </div>
            <button type="submit" class="btn btn-info mb-3" value="crearPlayer">Aceptar</button>
            <div th:if="${player.id} != 0">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Borrar</button>


                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Advertencia</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">Se eliminará el elemento permanentemente</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <a th:href="@{/player/delete(id=${player.id})}">
                                    <button type="button" class="btn btn-danger">Borrar</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
</html>