<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/base}">
<div layout:fragment="content">
    <div class="container mb-3">
        <a href="/player/form">
            <button class="btn btn-info mb-3">Añadir jugador</button>
        </a>
        <div class="row">
            <div th:each="player : ${players}" class="card me-3" style="width: 18rem;">
                <img th:src="@{${player.imagePath}}" class="card-img-top" alt="..." />
                <a th:href="@{/player/edit(id=${player.id})}">
                <div class="card-body">
                        <h5 class="card-title" th:text="${player.name}"></h5>
                    <p class="card-text">
                        <span class="badge bg-info" th:text="${player.category}"></span>
                        <span class="badge bg-secondary" th:text="${player.licenseNumber}"></span>
                    </p>
                    <p class="card-text"><small class="text-muted" th:text="'DNI/NIE: ' + ${player.idCard}"></small></p>
                    <p class="card-text"><small class="text-muted" th:text="'Tel: ' + ${player.phone}"></small></p>
                    <p class="card-text"><small class="text-muted" th:text="${player.email}"></small></p>

                    <h6>Temporadas:</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:each="season : ${player.playerSeasons}" th:text="${season.season}"></li>
                    </ul>

                    <h6 class="mt-2">Equipos:</h6>
                    <ul class="list-group list-group-flush" th:each="team : ${player.teams}">
                        <li class="list-group-item" th:text="${team.title}"></li>
                    </ul>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>
</html>