<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/base}">
<div layout:fragment="content">
    <div class="container mb-3">
        <a href="/player/form">
            <button class="btn btn-info mb-3">Añadir jugador</button>
        </a>
        <form th:action="@{/player/renovate}" method="post">
            <table class="table table-striped">
                <thead class="table-dark text-center">
                <tr>
                    <th>Selección</th>
                    <th>Nombre</th>
                    <th>Categoría</th>
                    <th>Género</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="player : ${players} " class="text-center">
                    <td>
                        <input type="checkbox" name="selectedIds" th:value="${player.id}" />
                    </td>
                    <td th:text="${player.name}"></td>
                    <td th:text="${player.category}"></td>
                    <td th:text="${player.sex}"></td>
                </tr>
                </tbody>
            </table>
        <button type="submit" class="btn btn-info">Renovar seleccionados</button>
        </form>
    </div>
</div>
</html>