<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/base}">
<div layout:fragment="content">
    <div class="container mb-3">
        <a href="/teams/form">
            <button class="btn btn-info mb-3">Añadir equipo</button>
        </a>
        <form th:action="@{/player/renovate}" method="post">
        <table class="table table-striped">
            <thead class="table-dark text-center">
            <tr>
                <th scope="col">Temporada</th>
                <th scope="col">Categoría</th>
                <th scope="col">Género</th>
                <th scope="col">Jugadores</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team : ${teams}" class="text-center">
                <td th:text="${team.season?.season}"></td>
                <td th:text="${team.category}"></td>
                <td th:text="${team.gender}"></td>
                <td th:text="${team.players?.size()}"></td>
                <td>
                    <a th:href="@{/teams/edit(id=${team.id})}">
                        <button class="btn btn-info mr-3">Editar</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        </form>
    </div>
</div>
</html>