<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/base}"
>
  <div layout:fragment="content">
    <div class="container mb-3">

      <a href="/actor/formulario">
        <button class="btn btn-info mb-3">Añadir actor</button>
      </a>

      <div class="row d-flex mb-3">

      <div th:each="actor : ${actores}" class="card me-3">
        <img th:src="@{${actor.rutaImagen}}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text" th:text="${actor.nombre}"></p>
          <ul class="list-group list-group-flush" th:each="pelicula : ${actor.peliculas}">
            <li class="list-group-item" th:text="${pelicula.titulo}"></li>
          </ul> 
          <a th:href="@{/actor/editar(id=${actor.id})}">
            <button class="btn btn-info">Editar</button>
            </a>      
        </div>  

      </div>

      </div>

    </div>
</html>